@tailwind base;
@tailwind components;
@tailwind utilities;

.mic-btn {
    position: absolute;
    background: none;
    border: none;
    right: 0;
    bottom: 0;
    cursor: pointer;
    outline: none;
    width: 44px;
    height: 44px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mic-icon {
    position: relative;
    font-size: 30px;
    z-index: 2;
    transition: color 0.3s;
}

.mic-btn.listening .mic-icon {
    color: #00fb04;
    /* cyan-400 */
}

.mic-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(71, 238, 0, 0.723);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
}

.mic-btn.listening .mic-wave {
    animation: micPulse 1.4s infinite;
    opacity: 1;
}

@keyframes micPulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    70% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.15;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
}

.search::placeholder {
    text-align: end;
}

.pop-up {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    padding-bottom: 30px;
    transition: .3s all ease-in-out;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0);
}

.confirm-btn:hover .pop-up {
    visibility: visible;
    opacity: 1;
    left: -5px;
    top: -50px;
    transform: scale(1);
}